@model GiftingProject.DatabaseAccess.UserModel


<div class="container">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet">

    <div class="stats-panel stats-panel-blue" @*href="https://paypal.me/@Model.UserName/"*@>
        <div class="stats-panel-name">@Model.UserName</div>
        <div class="stats-panel-stat">
            @(Model.UserOwnerCount.HasValue ? Model.UserOwnerCount : 0)
        </div>
        @{
            for (int i = 0; i < Model.BadgeCount; i++)
            {
                <span class="badge">G</span>
            }
        }
    </div>

    <div id="DisplayWindow">

    </div>

    <span id="BackButton" class="material-icons" onclick="previous();">arrow_back_ios</span>
</div>

@*-- Hidden Section -------------------------------------------------------------------*@

<div style="display:none;">

    <div name="Question" id="HOME" class="question">

        @*<p>
            Page Owner: @Model.UserName
        </p>
        <p>
            Potential Givers: @Model.UserOwnerCount
        </p>
        <p>
            Badges Earned: @Model.BadgeCount
        </p>*@

        <div class="q-text" style="text-align:center;">
            Is this your page?
        </div>

        <br />
        <button onclick="showQuestion('USER01');">YES</button>
        <button onclick="showQuestion('GUEST01');">NO</button>

    </div>

    <div name="Question" id="USER01" class="question">

        <div class="q-text">
            To Do List:
        </div>

        <ol>
            <li>View a demo showing how this websites works.</li>
            <li>
                Share this page with at least three (3) friends.
            </li>
            <li>
                Give a gift, get a badge.
            </li>
        </ol>

        <br />

        <button onclick="showQuestion('DEMO-01');">DEMO</button>
        <button onclick="window.open('https://paypal.me/@Model.OwnerName/');">GIFT</button>
        <button onclick="showQuestion('BADGES01');">BADGE</button>


    </div>

    <div name="Question" id="BADGES01" class="question">

        <div class="q-text">
            Claim Your Badge
        </div>

        <ol>
            <li>
                Check your email and find your gift receipt.
            </li>
            <li>
                Enter your transaction ID and press enter.
            </li>
        </ol>

        <br />

        <input type="text" id="TransInput" value="" />

        <button onclick="claimBadge('@Model.UserName');">CLAIM</button>


    </div>

    <div name="Question" id="DEMO-01" class="question">

        <div class="q-text">
            Fact:
        </div>

        <p>
            The goal of this <b>free</b> website is to put <b>your</b> gift button in front
            of as many potential givers as possible.
        </p>

        <br />

        <button onclick="showQuestion('DEMO-02');">NEXT</button>

    </div>

    <div name="Question" id="DEMO-02" class="question">

        <div class="q-text">
            Fact:
        </div>

        <p>
            Your only task is to share this <b>free</b> page with
            at least 3 friends, then sit back and watch your network grow.
        </p>

        <br />

        <button onclick="showQuestion('DEMO-03');">NEXT</button>

    </div>

    <div name="Question" id="DEMO-03" class="question">

        <div class="q-text">
            Assumption:
        </div>

        <p>
            Let's assume, for the demo, that each new user can
            add 1 new user per day for 3 days.
        </p>

        <br />

        <button onclick="showQuestion('DEMO-04');">NEXT</button>

    </div>

    <div name="Question" id="DEMO-04" class="question">

        <div class="q-text">
            Disclaimer:
        </div>

        <p>
            PayPal only has a little over 377 million active users
            so your mileage will vary...
        </p>

        <br />

        <button onclick="dayOne();">NEXT</button>

    </div>

    <div name="Question" id="DAY01" class="question">

        <div class="q-text">
            <div id="DayNumber" style="text-align:center; font-size:20px;">Your Day 1 User Count</div>
            <br />
            <div id="UserCount" style="text-align:center; font-size:32px;">0</div>
        </div>

        <br />
        <button onclick="nextDay(-1);">PREV</button>
        <button onclick="nextDay(1);">NEXT</button>

    </div>

    <div name="Question" id="DAY22" class="question">

        <div class="q-text">
            <div id="DayNumber" style="text-align:center; font-size:20px;">Your Day 22 User Count</div>
            <br />
            <div id="UserCount" style="text-align:center; font-size:32px;">1048575</div>
            <br />
            <div id="DayNumber" style="text-align:center; font-size:20px;">Demo Complete</div>
        </div>

        <br />

        <button onclick="showQuestion('USER01');">HOME</button>

    </div>


    <div name="Question" id="GUEST01">

        <div class="q-text">
            Welcome!
        </div>

        <p>
            This purpose of this website is to help you raise money
            by getting your PayPal.me page in front of as many pontential 
            givers as possible.
        </p>

        <br />

        <button onclick="showQuestion('GUEST02');">NEXT</button>

    </div>

    <div name="Question" id="GUEST02">

        <div class="q-text">
            It's Free!
        </div>

        <p>
            This is a free service.  Anyone with a PayPal.me link can
            participate!  Do you have a free PayPal.me link?
        </p>

        <br />

        <button onclick="showQuestion('GUEST03');">YES</button>
        <button onclick="window.open('https://paypal.me/', '_blank');">NO</button>

    </div>

    <div name="Question" id="GUEST03" class="question">

        <div>

            <div class="q-text">
                Excellent!
            </div>

            <p>
                Let's start by cloning a free page for you on this site. 
                Enter your PayPal.me link name below...
            </p>
            <br />
            <input type="text" id="UserNameInput" value="" />
            <button onclick="addUser('@Model.UserName');">CLONE</button>

        </div>

    </div>

</div>